<head>
    <link rel="stylesheet" href="refund.component.css" type="text/css">
  </head>
  
  <body>
    <div class="container">
      <h3>
        Refund Request
      </h3>
      <body>
    
        <form name="Refundrequest" class="Refundrequest">
            <div class="RefundrequestContainer">
                <label>paymentId</label>
                <input type="text" [(ngModel)]="refundrequest.paymentId" name="paymentId"> <br>
                <label>bookId</label>
                <input type="text" [(ngModel)]="refundrequest.bookId" name="bookId"> <br>
                <label>email</label>
                <input type="text" [(ngModel)]="refundrequest.email" name="email"> <br>
                <label>refundAmount</label>
                <input type="text" [(ngModel)]="refundrequest.refundAmount" name="refundAmount"> <br>
                <button class='btn btn-primary' type="button" (click)="refund()">Refund</button>
            </div>
        
        </form>
        </body>
