<head>
  <link rel="stylesheet" href="searchbook.component.css" type="text/css">
</head>

<body>
  <div class="container">
    <h2>
      Search Book
    </h2>



    <form name="SearchbookForm" class="SearchbookForm">
      <div class="SearchbookContainer">
        <label>category</label>
        <input type="text" [(ngModel)]="book.category" name="category"> <br>
        <label>author</label>
        <input type="text" [(ngModel)]="book.author" name="author"> <br>
        <label>price</label>
        <input type="text" [(ngModel)]="book.price" name="price"> <br>
        <label>publisher</label>
        <input type="text" [(ngModel)]="book.publisher" name="publisher"> <br>
        <button class='btn btn-primary' type="button" (click)="searchbook()"> Search Book</button>
      </div>

    </form>

  </div>
  <table *ngIf="showTable">
    <h2>Displaying Search Results</h2>
    <tr>
      <th>category</th>
      <th>author</th>
      <th>price</th>
      <th>publisheddate</th>
      <th>publisher</th>
      <th>title</th>
    </tr>
    <tr *ngFor="let book of uiResponse">
      <td>{{book.category}}</td>
      <td>{{book.author}}</td>
      <td>{{book.price}}</td>
      <td>{{book.publisheddate}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.title}}</td>
    </tr>


  </table>


</body>