<head>
    <link rel="stylesheet" href="headers.component.css" type="text/css">
</head>

<body>
    <header>
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='home'>Home</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='signup'>Sign Up</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='signin'>Sign in</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='createbook'>Create Book</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='updatebook'>Update Book</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='searchbook'>Search Book</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='buybook'>Buy Book</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='purchasedbookbyemail'>PurchasedBookbyEmail</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='readbookbyemailandpaymentid'>ReadbookbyEmailandPaymentid</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='readbookbyemailandbookid'>ReadbookbyEmailandBookid</a>
            <a class="flex-sm-fill text-sm-center nav-link active" routerLink='refundrequest'>RefundRequest</a>
        
        </nav>
    </header>

    

</body>