<head>
  <link rel="stylesheet" href="buybook.component.css" type="text/css">
</head>

<body>
  <div class="container">
    <h2>
      Buy Book
    </h2>


    <form name="Buybook" class="Buybook">
      <div class="BuybookContainer">
        <label>username</label>
        <input type="text" [(ngModel)]="bookrequest.username" name="username"> <br>
        <label>email</label>
        <input type="text" [(ngModel)]="bookrequest.email" name="password"> <br>
        <label>bookid</label>
        <input type="text" [(ngModel)]="bookrequest.bookid" name="bookid"> <br>
        <button class='btn btn-primary' type="button" (click)="buybook()"> Buy Book</button>
      </div>

    </form>

  </div>
</body>