<head>
    <link rel="stylesheet" href="updatebook.component.css" type="text/css">
</head>
<h1>Update Book Form</h1>

<form name="UpdatebookForm" class="UpdatebookForm">
    <div class="UpdatebookContainer">
        <label>author</label>
        <input type="text" [(ngModel)]="book.author" name="author"> <br>
        <label>title</label>
        <input type="text" [(ngModel)]="book.title" name="title"> <br>
        <label>category</label>
        <input type="text" [(ngModel)]="book.category" name="category"> <br>
        <label>image</label>
        <input type="text" [(ngModel)]="book.image" name="image"> <br>
        <label>price</label>
        <input type="text" [(ngModel)]="book.price" name="price"> <br>
        <label>publisher</label>
        <input type="text" [(ngModel)]="book.publisher" name="publisher"> <br>
        <label>active</label>
        <input type="text" [(ngModel)]="book.active" name="active"> <br>
        <label>content</label>
        <input type="text" [(ngModel)]="book.content" name="content"> <br>
        <label>publisheddate</label>
        <input type="text" [(ngModel)]="book.publisheddate" name="publisheddate"> <br>
        <button class='btn btn-primary' type="button" (click)="update()"> Update Book</button>
    </div>
</form>